<h1>Narrator sample</h1>
<button type='button' {{on 'click' this.play}}>Play</button>
<button type='button' {{on 'click' this.pause}}>Pause</button>
<p id="story">This is a computer-generated narrator. Awesome!</p>