<h1>Narrator sample</h1>
<p>
  This demo works best in Firefox.
</p>
<button type='button' {{on 'click' this.play}}>Play</button>
<button type='button' {{on 'click' this.pause}}>Pause</button>
<button type='button' {{on 'click' this.resume}}>Resume</button>
<p id="story">This is a computer-generated narrator. Awesome!</p>