{{yield}}
<Button {{on 'click' this.initCamera}}>Turn on the camera</Button>
<Button id="snap">Take photo</Button>
<video id="video" width="400" height="250" playsinline autoplay />
<canvas id="canvas" width="400" height="250" />
<ButtonLink @routeName={{'story'}}>Next</ButtonLink>