{{yield}}
<button {{on 'click' this.initCamera}}>Start</button>
<button id="snap" >Ok</button>
<video id="video" width="400" height="250" playsinline autoplay />
<canvas id="canvas" width="400" height="250" />
