{{page-title "About"}}
<Heading>About</Heading>
<p>
  Made with &hearts; in
  <a href='https://emberjs.com'>Ember.js</a>
  by Jen Weber. Twitter:
  <a href='https://twitter.com/jwwweber'>@jwwweber</a>.
</p>
<p>
  Source code on <a href="https://github.com/jenweber/a-new-noise">GitHub</a>.
  The story "Murphy hears a new noise" is copyright 2022 by Jennifer Weber.
  Anything not inside of a "p" tag is licensed under MIT.
</p>
{{outlet}}