<main class="p-20">
{{outlet}}
</main>

<footer>
Made with &hearts; in <a href="https://emberjs.com">Ember.js</a>
by Jen Weber. Twitter: <a href="https://twitter.com/jwwweber">@jwwweber</a>.
</footer>