{{page-title "Show and tell with services"}}
<Heading>Show and tell with services</Heading>
<p>
  This is a technical demo illustrating three different
  ways that Services in Ember can help you build creative,
  maintainable web apps.
</p>
<p>
  Fill in the parts of speech for a story,
  take a picture using your webcam, and
  take a break for some storytime with
  Murphy the dog.
</p>

<ButtonLink @routeName='setup'>Go to step one</ButtonLink>