{{page-title "Setup"}}
  <div class="w-full">
    <Heading>First, answer some questions.</Heading>
    <p>
      For each field below, enter a word matching the part of speech or description.
      These will become part of your own personal story!
    </p>
    <Form />
  </div>
{{outlet}}